name: Ruff Linter

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run RuffFix
        uses: YuheshPandian/RuffFix@v1.2.0
        with:
          mode: all
